/* ==========================================================================
button / 
========================================================================== */

.button {
    border-radius: 25px;
    border: 4px solid var(--color-primary);
    padding: 10px 30px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
	transition: all 0.3s $ease-out-expo;

	&:hover {
		background-color: var(--color-primary);
		color: var(--color-white);
	}
}
