.faq{
    padding: 100px 0;

    .icon{
        fill: var(--color-primary);
    }
}

.faq h2{
    text-align: center;
    padding-bottom: 60px
}

.faq-item {
    transition: all 0.5s $ease-out-expo;
    cursor: pointer;
    margin: 40px 0 80px;

    .faq-item-header {
        border-radius: 16px;
        padding: 16px 8px;
        background-color: var(--color-primary);
    }
    .faq-item-header h4{
        position: relative;
        margin: 0;
        width: 100%;
    }

    .icon{
        transform: rotate(90deg);
        transition: transform 0.3s ease-out;
        font-size: typo(20px, 40px);
    }
}

.faq-item-content {
    overflow: hidden;
    max-height: 0px;
    transition: all 1s $ease-out-expo;
    opacity: 0;
}

.submenu-is-active{
    .icon{
        transform: rotate(-90deg);
    }

    .faq-item-content {
        opacity: 1;
    }
}

.dropdown-container .section-title{
    display: flex;
    align-items: center;
    gap: 40px;
}
