p.error {
	color: var(--color-error);
}

input.error, textarea.error {
	border-color: var(--color-error);
}

.wrapper > h1 {
    padding-top: 100px;
    margin-bottom: 50px;
}

section.response {
    padding: 100px 0;
	div {
		margin-bottom: 100px;
	}
}

form {
	padding: 50px 0;

    & > * + * {
        margin-top: 20px;
    }

    * {
        outline: none;
    }
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}

    input, textarea {
        padding: 16px;
		border-radius: 16px;
		margin-bottom: 16px;
		width: 100%;
        background-color: transparent;
        border: 4px var(--color-secondary) solid;
        font-family: var(--font-secondary);
        font-size: var(--font-size-p);
        color: var(--color-black);
    }

    input::placeholder, textarea::placeholder {
        font-family: var(--font-secondary);
        font-size: var(--font-size-p);
        color: var(--color-black);
    }
}

#message-container {
    grid-column: 1 / -1;
	textarea {
		height: 150px;
		resize: vertical;
	}
}

.info {
    display: flex;
    justify-content: space-between;

	@media screen and (max-width: 768px) {
		flex-direction: column;
		text-align: center;
		gap: 20px;
	}
}

#submit {
    cursor: pointer;
    position: relative;
    padding: 0 40px;
	border-radius: 16px;
    border: 4px solid var(--color-secondary);
    overflow: hidden;
    display: inline-block;
	background-color: transparent;
	align-self: center;

    & > * {
        cursor: pointer;
        font-family: var(--font-primary);
        background-color: transparent;
        border: 0;
        color: var(--color-secondary);
        font-size: var(--font-size-btn);
        font-weight: 700;
        letter-spacing: unset;
        transition: color 0.3s ease-out;
    }
}
