/* ==========================================================================
   section / 
   ========================================================================== */

.section {
    padding: 125px 0;

    &.section--no-pb {
        padding-bottom: 0;
    }
}

.section__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 50px;
    p {
        max-width: 58%;
        text-align: right;
        margin-bottom: 0;
    }
    @media screen and (max-width: $breakpoint-md) {
        align-items: flex-start;
        p {
            max-width: unset;
            text-align: left;
        }
    }
}

.swiper {
    height: 70vh;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
