/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #212121;

    // Couleurs du projet
    --color-primary: #4e6aff;
    --color-secondary: tomato;

    --color-bg-primary: #ffe9ce;
    --color-bg-secondary: #3e92cc;
}
