{% include '_partials/_header.html' %}

<div class="section">
	<div class="wrapper">
		<form>
			<fieldset>
				<div id="input-container">
					<label for="username">Identifiant</label>
					<input name="username" type="text">
				</div>
				<div id="input-container">
					<label for="password">Mot de passe</label>
					<input name="password" type="password">
				</div>
				<button id="submit">
					<p>Connexion</p>
				</button>
			</fieldset>
		</form>
	</div>
</div>

{% include '_partials/_footer.html' %}
