{% include '_partials/_header.html' %}

<!-- Header -->

<!-- Hero -->
<section class="hero">
	<div class="wrapper">
		<div class="hero__media">
			<img src="assets/images/bg-hero.jpg" alt="Skieur étoile" />
		</div>
		<div class="hero__content">
			<h1>
				La
				<span>crème</span>
				<br />
				de la crème
			</h1>
			<p>
			text
			</p>
			<a href="#" class="button">Joignez notre équipe</a>
		</div>
	</div>
</section>

<!-- Athlètes -->

<div class="section">
	<div class="wrapper">
		<div class="section__header">
			<h2>Nos athlètes</h2>
			<p>
			Nos athlètes sont sélectionnés parmi les meilleurs de leur génération. Sans aucun ajout d’hormones de croissances (à l’exception des Doritos),
			ils perfoment toujours à leur maximum.
			</p>
		</div>
		<div class="cards">
			<div class="card">
				<div class="card__media"><img src="assets/images/matt-pratt.jpg" alt="" /></div>
				<div class="card__content">
					<h3>Matt Pratt</h3>
					<svg class="icon">
						<use xlink:href="#icon-snow"></use>
					</svg>
				</div>
			</div>
			<div class="card">
				<div class="card__media"><img src="assets/images/ben-lavigne.jpg" alt="" /></div>
				<div class="card__content">
					<h3>Ben Lavigne</h3>
					<svg class="icon">
						<use xlink:href="#icon-skate"></use>
					</svg>
				</div>
			</div>
			<div class="card">
				<div class="card__media"><img src="assets/images/jeff-white.jpg" alt="" /></div>
				<div class="card__content">
					<h3>Jeff White</h3>
					<svg class="icon">
						<use xlink:href="#icon-ski"></use>
					</svg>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Gallery -->
<div class="section section--no-pb">
	<div class="wrapper">
		<div class="section__header">
			<h2>Sports en image</h2>
		</div>
	</div>
	<div class="swiper" data-component="Carousel">
		<div class="swiper-wrapper">
			<div class="swiper-slide"><img src="assets/images/swiper1.jpg" alt="" /></div>
			<div class="swiper-slide"><img src="assets/images/swiper2.jpg" alt="" /></div>
			<div class="swiper-slide"><img src="assets/images/swiper3.jpg" alt="" /></div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>

<!-- En savoir plus -->
<div class="section excerpt">
	<div class="wrapper">
		<h4>Nous construisons le monde un enfant a la fois.</h4>
		<a href="#" class="button">En savoir plus</a>
	</div>
</div>

<div class="section faq" data-component="Dropdown">
	<div class="wrapper">
		<h2>FAQ</h2>
		<div class="faq-item">
			<div class="faq-item-header">
				<h4>question 1</h4>
			</div>
			<div class="faq-item-content">
				<p class="lorem">4 sentences</p>
			</div>
		</div>
		<div class="faq-item">
			<div class="faq-item-header">
				<h4>question 2</h4>
			</div>
			<div class="faq-item-content">
				<p class="lorem">2 sentences</p>
			</div>
		</div>
		<div class="faq-item">
			<div class="faq-item-header">
				<h4>question 3</h4>
			</div>
			<div class="faq-item-content">
				<p class="lorem">4 sentences</p>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="wrapper">
		<div class="video" data-component="YouTube" data-video-id="wiSPJ1QJRxk">
			<div class="video__media js-video"></div>
		</div>
		<div class="video" data-component="YouTube" data-video-id="dQw4w9WgXcQ">
			<div class="video__media js-video"></div>
		</div>
	</div>
</div>

<div class="section">
	<div class="wrapper">
		<div class="cards">
			<div class="card">
				<svg class="icon">
					<use xlink:href="#icon-youtube"></use>
				</svg>
				<h2>Carte 1</h2>
				<p class="lorem">3 sentences</p>
			</div>
			<div class="card">
				<svg class="icon">
					<use xlink:href="#icon-snow"></use>
				</svg>
				<h2>Carte 2</h2>
				<p class="lorem">3 sentences</p>
			</div>
			<div class="card">
				<svg class="icon">
					<use xlink:href="#icon-snow"></use>
				</svg>
				<h2>Carte 3</h2>
				<p class="lorem">3 sentences</p>
			</div>
		</div>
	</div>
</div>

{% include '_partials/_footer.html' %}
